<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button clear>
         <img src="assets/icon/logo.png" />
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button color="danger" solid round (click)="logout()" icon-right>
        Logout
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar>
    <ion-title color="light">Welcome {{agent.name}}!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-searchbar placeholder="Search customer" [(ngModel)]="searchTerm" [formControl]="searchControl" (ionInput)="onSearchInput()"></ion-searchbar>
  <div *ngIf="searching" class="spinner-container">
        <ion-spinner></ion-spinner>
    </div>
  <ion-list [virtualScroll]="customers" approxItemHeight="80px" bufferRatio="4">
        <ion-item *virtualItem="let customer">
            <ion-thumbnail item-left>
                <ion-img [src]="customer.photo" width="75" height="75" *ngIf="customer.photo"></ion-img>
            </ion-thumbnail>
            <h2>{{customer.name}}</h2>
            <button ion-button icon-left (click)="callPhone(customer.mobile)">
                <ion-icon name="call"></ion-icon>
                {{customer.mobile}}
            </button>
            <p>{{customer.locality}}<br>
            {{customer.address}}</p>
            <button ion-button clear icon-right item-right (click)="navigate(customer.uid)" large>
              <i class="fa fa-inr"></i> 
              <ion-icon name="arrow-forward"></ion-icon>
            </button>
        </ion-item>
  </ion-list>
</ion-content>
